{% extends "public/base.html" %}

{% load static %}
{% load formsetify %}

{% block title %}Activation de compte{% endblock title %}

{% block stylesheet %}
<link href="{% static 'formset/css/bootstrap5-extra.css' %}" rel="stylesheet">
<script type="module" src="{% static 'formset/js/django-formset.js' %}" nonce="{{request.csp_nonce}}"></script>
{{form.media.css}}
{% endblock stylesheet %}


{% block content %}
<django-formset class="login100-form validate-form" endpoint="{{request.path}}" csrf-token="{{csrf_token}}">
    <span class="login100-form-title p-b-10">
        <img src="{% static 'images/burkina-faso.jpg' %}" height="50%" width="50%" alt="armorie">
    </span>
    <span class="login100-form-title p-b-30">
        Activation de compte
    </span>
    {% render_form form "bootstrap" field_classes="mb-2 col-12" form_classes="row" label_classes="form-label" %}
    <div class="container-login100-form-btn btn-bg-niss col-12 p-t-5 p-b-10">
        {% include 'components/formset-button.html' with label="ACTIVER MON COMPTE" color="btn-success"  process="spinner -> submit -> okay(2000) -> proceed !~ bummer(10000) -> scrollToError" %}
    </div>
    <div class="text-center p-t-45 p-b-20">
        <a href="{% url 'user-login' %}" class="txt2"> J'ai un compte actif </a>

    </div>
</django-formset>
{% endblock content %}

{% block javascript %}
<!-- <script src="{% static 'js/pages/examples/pages.js' %}"></script> -->
{{form.media.js}}
{% endblock javascript %}
