{% load icon %}

{% if can_detail %}
<a href="{% url info_url object.slug|default:object.id %}">
    <button type="button" class="btn btn-md btn-outline-info" data-bs-toggle="popover"
        data-bs-content="Voir les détails" data-bs-container="body" data-bs-placement="top">
        {% icon "info" height=option_size width=option_size %}
    </button>
    
</a>
{% endif %}
{% if can_update %}
<a href="{% url update_url object.slug|default:object.id %}">
    <button type="button" class="btn btn-md btn-outline-success" data-bs-toggle="popover" data-bs-content="Modifier"
        data-bs-container="body" data-bs-placement="top">
        {% icon "edit" height=option_size width=option_size %}
    </button>
</a>
{% endif %}
{% if can_delete %}
<a href="{% url delete_url object.slug|default:object.id %}" class="delete-btn">
    <button type="button" class="btn btn-md btn-outline-danger" data-bs-toggle="popover" data-bs-content="Supprimer"
        data-bs-container="body" data-bs-placement="top">
        {% icon "trash" height=option_size width=option_size %}
    </button>
</a>
{% endif %}
