{% load icon %}

{% if search_url %}
<form class="d-flex flex-row mb-5 justify-content-between" method="get" action="{{ search_url }}">
    <div>
        <input type="search" class="form-control rounded" placeholder="recherche..." aria-label="Search"
            aria-describedby="search-addon" name="query" />
    </div>
    <div>
        {% comment %}
        {% if 'query' in request.GET %}
        <a class="mb-5 link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover"
            href="{{search_url}}">
            Effacer&nbsp; {% icon "delete" height=option_size width=option_size %}
        </a>
        {% endif %}
        {% endcomment %}
        <div class="btn-group" role="group">
            <button type="submit" class="btn btn-sm btn-outline-primary">
                {% icon "search" height=option_size width=option_size %}&nbsp;Recherche
            </button>
            <button type="button" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                {% icon "filter" height=option_size width=option_size %}
            </button>
        </div>
    </div>
</form>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Filtre</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="get">
                    {{ filter.form.as_p }}
                    <button type="submit" class="btn btn-sm btn-outline-primary">Filtrer</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Fermer
                </button>
            </div>
        </div>
    </div>
</div>



{% endif %}


{% comment %}
{% if 'query' in request.GET %} value="{{request.GET.query}}" {% endif %}
{% endcomment %}
